{% extends "base.html.twig" %}

{% block body %}

{% include "bannierOther.html.twig" %}

    <div class="page_wrapper">
        <section class="container">

            <!-- Start Event List -->
            <div id="events_list" class="page">

                <h1>Evénements</h1>
                <!-- Start Event Item -->
                <div class="list">
                    <div class="box_heading">
                        <h2>08 Mai 2016</h2>
                        <span class="line"></span>
                    </div>
                    <div class="event_details">
                        <h5><a href="event_description.html">Marche du cole de pigeons à la plage caraibes</a></h5>
                        <p>Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget
                            metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer
                            posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus
                            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies
                            vehicula ut id elit.</p>
                    </div>
                    <div class="event_date">
                        <ul class="left">
                            <li>Début</li>
                            <li>Fin:</li>
                            <li>rue:</li>
                            <li>Prix:</li>
                        </ul>
                        <ul class="right">
                            <li>08 Mai 2016</li>
                            <li>08 Mai 2016</li>
                            <li>Pointe-noire</li>
                            <li>Gratuit</li>
                        </ul>
                    </div>
                </div>
                <!-- End Event Item -->
                <!-- Start Event Item -->
                <div class="list">
                    <div class="box_heading">
                        <h2>18 Juin 2016</h2>
                        <span class="line"></span>
                    </div>
                    <div class="event_details">
                        <h5><a href="event_description.html">Diner dansant à l'occasion de la fête des peres</a></h5>
                        <p>Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget
                            metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer
                            posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus
                            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies
                            vehicula ut id elit.</p>
                    </div>
                    <div class="event_date">
                        <ul class="left">
                            <li>Début</li>
                            <li>Fin:</li>
                            <li>rue:</li>
                            <li>Adresse:</li>
                            <li>Prix:</li>
                        </ul>
                        <ul class="right">
                            <li>18 Juin 2016</li>
                            <li>18 Juin 2016</li>
                            <li>Salle les vanilliers au bourg</li>
                            <li>Pointe-noire</li>
                            <li>25€</li>
                        </ul>
                    </div>
                </div>
                <!-- End Event Item -->
                <!-- Start Event Item -->
                <div class="list">
                    <div class="box_heading">
                        <h2>29 Juillet au 31 juillet 2016</h2>
                        <span class="line"></span>
                    </div>
                    <div class="event_details">
                        <h5><a href="event_description.html">Fête de la section de gommier</a></h5>
                        <p>Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget
                            metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer
                            posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                        <p> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
                            justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id
                            dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                    <div class="event_date">
                        <ul class="left">
                            <li>Début</li>
                            <li>Fin:</li>
                            <li>rue:</li>
                            <li>Adresse:</li>
                            <li>Prix:</li>
                        </ul>
                        <ul class="right">
                            <li>29 Juillet 2016</li>
                            <li>31 Juillet 2016</li>
                            <li>Gommier</li>
                            <li>Pointe-noire</li>
                            <li>Gratuit</li>
                        </ul>
                    </div>
                </div>
                <!-- End Event Item -->

                <!-- Start Event Item -->
                <div class="list">
                    <div class="box_heading">
                        <h2>14 Juillet au 15 Juillet 2016</h2>
                        <span class="line"></span>
                    </div>
                    <div class="event_details">
                        <h5><a href="event_description.html">Participation de la fête communal de pointe noire</a></h5>
                        <p>Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget
                            metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer
                            posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus
                            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies
                            vehicula ut id elit.</p>
                    </div>
                    <div class="event_date">
                        <ul class="left">
                            <li>Début</li>
                            <li>Fin:</li>
                            <li>Adresse:</li>
                            <li>Prix:</li>
                        </ul>
                        <ul class="right">
                            <li>14 Juillet 2016</li>
                            <li>15 Juillet 2016</li>
                            <li>Pointe-noire</li>
                            <li>Gratuit</li>
                        </ul>
                    </div>
                </div>
                <!-- End Event Item -->

                <!-- Start Event Item -->
                <div class="list">
                    <div class="box_heading">
                        <h2>20 Juillet 2016</h2>
                        <span class="line"></span>
                    </div>
                    <div class="event_details">
                        <h5>Participation de la fête de la section de baillargent</h5>
                        <p>Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget
                            metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer
                            posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus
                            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies
                            vehicula ut id elit.</p>
                    </div>
                    <div class="event_date">
                        <ul class="left">
                            <li>Début</li>
                            <li>Fin:</li>
                            <li>rue:</li>
                            <li>Adresse:</li>
                            <li>Prix:</li>
                        </ul>
                        <ul class="right">
                            <li>20 Juillet 2016</li>
                            <li>20 Juillet 2016</li>
                            <li>Baillargent</li>
                            <li>Pointe-noire</li>
                            <li>Gratuit</li>
                        </ul>
                    </div>
                </div>
                <!-- End Event Item -->

            </div>

        </section>
    </div>


{% endblock body %}